<div>
    <div  class="admin-panel-first-head">
        <h1>Admin panel</h1>
    </div>
    <div class="admin-panel-second-head">
        <a href="/admin/addNewUser">Add new user</a>
        <a href="/admin/logout">logout</a>
    </div>

    <table class="users-table">

        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {{#each users}}
        <tr>
            <td>{{username}}</td>
            <td>{{password}}</td>
            <td>{{email}}</td>
            <td><a href=""><i class="fas fa-edit"></i></a></td>
            <td><a href=""><i class="fas fa-trash"></i></a></td>
        </tr>
        {{/each}}
    </table>
</div>