

<body>
   <div class="container logincontainer">
      <div class="row">
         <div class="col-md-5 mx-auto">
            <div id="first">
               <div class="myform form ">
                  <div class="logo mb-3">
                     <div class="col-md-12 text-center">
                        <h1>Admin Login</h1>
                     </div>
                  </div>
                  <form action="/admin/adminlogin" method="post" name="login">
                     <div class="form-group">
                        <label for="exampleInputEmail1">User Name</label>
                        <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp"
                           placeholder="Enter user name">
                     </div>
                     <div class="form-group">
                        <label for="exampleInputEmail1">Password</label>
                        <input type="password" name="password" id="password" class="form-control"
                           aria-describedby="emailHelp" placeholder="Enter Password">
                     </div>

                     {{#if loginErr}}
                     <div class="loginErrDiv">
                        <p class="loginErr">Entered username or password is invalid</p>
                     </div>
                     {{/if}}
                     <br>
                     <div class="col-md-12 text-center ">
                        <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
                     </div>
                     <div class="col-md-12 ">
                        <div class="login-or">
                           <hr class="hr-or">
                           
                        </div>
                     </div>       
                     </form>

               </div>
            </div>
         </div>
      </div>
   </div>

</body>