{{#if user}}
<div class="username"> <img src="/images/profile-icon-png-910.png" alt="">  {{user.username}}</div>
<div class="loginout"> <img src="/images/SeekPng.com_power-button-png_413101.png" alt=""><a href="/logout"> log-out</a> </div>
{{else}}
<div class="loginout"> <img src="/images/SeekPng.com_power-button-png_413101.png" alt=""><a href="/login"> log-in</a> </div>
{{/if}}